{% extends "base.html" %}
{% block title %} {{user.first_name}} {%endblock%}

{% block content %}

<h1 class="display-1">My name is:</h1>

<!-- List user information from DB -->
<ul>
<li>FIRST NAME: {{user.first_name}}</li>
<li>LAST NAME: {{user.last_name}}</li>
<li><a href="{{user.image_url}}">PHOTO</a></li>
</ul>


<!-- Edit and Delete buttons form -->
<form class="form-group">
    <button class="btn btn-info btn-lg" formaction="/edit/{{user.id}}" formmethod="GET">EDIT</button>
    <button class="btn btn-danger btn-lg" formaction="/delete/{{user.id}}" formmethod="POST">DELETE</button>
    <a class="btn btn-white btn-lg" href="/">GO BACK</a>
  </form>


{% endblock %}