{% extends "base.html" %}
{% block title %} {{user.first_name}} {%endblock%}

{% block content %}

<h1 class="display-1">I am</h1>

<!-- List user information from DB -->
<ul>
<li>FIRST NAME: {{user.first_name}}</li>
<li>LAST NAME: {{user.last_name}}</li>

<img width="100px" height="100px" src="https://www.freeiconspng.com/uploads/icon-user-blue-symbol-people-person-generic--public-domain--21.png" alt="">
</ul>




<!-- Edit and Delete buttons form -->
<form class="form-group">
    <button class="btn btn-info btn-lg" formaction="/edit/{{user.id}}" formmethod="GET">EDIT</button>
    <button class="btn btn-danger btn-lg" formaction="/delete/{{user.id}}" formmethod="POST">DELETE</button>
    <a class="btn btn-white btn-lg" href="/">GO BACK</a>
  </form>


  <h1 class="display-1">Posts</h1>
  <ul>
    {% for p in post %}
    <li><a href="/posts/{{p.id}}">{{p.title}}</a>
      <small>{{ post.date_time }}</small>
    </li>
    {% endfor %}
  </ul>

  <a class="btn btn-primary btn-lg" href="/{{user.id}}/posts/new">Add Post</a>

  <!-- Tags -->
  <h1 class="display-1">Tags</h1>
  
  <ul>
    {% for t in tag %}
    <li><a href="/tag/{{t.id}}">{{t.name}}</a></li>
    {% endfor %}
  </ul>

  <a class="btn btn-lg btn-primary" href="/{{user.id}}/tag/new">Add Tag</a>



{% endblock %}